:root {
  --heading: #212121;
  --blue: #2196f3;
  --paragraph: #757575;
  --bg: #2f303a;
  --white: #ffffff;
}

body {
  font-family: "Roboto", sans-serif;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

img {
  display: block;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.portfolio-btn:focus,
.portfolio-btn:hover,
.header-tell:hover,
.header-mail:hover,
.header-tell:focus,
.header-mail:focus,
.header-link:hover,
.header-link:focus {
  color: var(--blue);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* header */

.header {
  border-bottom: 1px solid #ececec;
}

.div-header {
  display: flex;
  align-items: center;
}

.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--heading);
}

.curent {
  color: var(--blue);
}

.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--blue);
  padding-top: 25px;
  padding-bottom: 24px;
  margin-right: 90px;
}

.header-logo-part {
  color: var(--heading);
}

.header-list {
  display: flex;
}

.header-item:not(:last-child) {
  margin-right: 50px;
}

.header-info {
  margin-left: auto;
  display: flex;
}

.header-tell,
.header-mail {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--paragraph);
  /* display: flex;
  align-items: center; */
}

.header-tell-icon,
.header-mail-icon {
  margin-right: 10px;
  fill: currentColor;
}

.header-info-item:not(:last-child) {
  margin-right: 50px;
}

/* hero */
.hero {
  text-align: center;
  background: var(--bg);
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/Img-fon.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white);
  margin-left: 250px;
  margin-right: 250px;
}

.hero-btn {
  padding: 10px 22px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  color: var(--white);
  background: var(--blue);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin-top: 30px;
  border: transparent;
}

.hero-btn:focus,
.hero-btn:hover {
  background: #188ce8;
}

/* benefit */

.section {
  padding-bottom: 94px;
  padding-top: 94px;
}

.benefits-icon-list {
  display: flex;
}

.benefits-icon-item {
  background-color: #f5f4fa;
  border-radius: 4px;
}

.benefits-icon-item:not(:last-child) {
  margin-right: 30px;
}

.benefits-icon {
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  margin: 25px 100px 25px 100px;
}

.benefits-icon-item:not(:last-child) {
  margin-right: 30px;
}

.benefits-item:not(:last-child) {
  margin-right: 30px;
}

.benefits-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--heading);
}

.benefits-h3 {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.42;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--heading);
  margin-bottom: 10px;
  margin-top: 30px;
}

.benefits-list {
  display: flex;
}

.benefits-pr {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--paragraph);
}

/* work */

.work {
  padding-top: 0;
}

.work-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--heading);
  margin-bottom: 50px;
}

.work-list {
  display: flex;
}

.work-item:not(:last-child) {
  margin-right: 30px;
}

/* team */

.team {
  background: #f5f4fa;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--heading);
  margin-bottom: 50px;
}

.team-list {
  display: flex;
}

.team-item {
  background: #ffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-item:not(:last-child) {
  margin-right: 30px;
}

.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.187;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--heading);
  margin-bottom: 10px;
}

.team-pr {
  font-size: 16px;
  line-height: 1.187;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--paragraph);
}

.team-div-img {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-social-list {
  display: flex;
  margin: 16px 32px 0 32px;
}

.team-social-item:not(:last-child) {
  margin-right: 10px;
}

.team-social-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.team-social-icon {
  fill: #afb1b8;
}

.team-social-link:hover,
.team-social-link:focus {
  background-color: var(--blue);
}

.team-social-link:hover .team-social-icon,
.team-social-link:focus .team-social-icon {
  fill: var(--white);
}

/* regular-customers */

.regular-customers-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--heading);
  margin-bottom: 50px;
}

.regular-customers-list {
  display: flex;
}

.regular-customers-item:not(:last-child) {
  margin-right: 30px;
}

.regular-customers-item {
  /* width: 170px;
  height: 92px; */
}

.regular-customer-link {
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.regular-customer-icon {
  fill: #afb1b8;
}

.regular-customer-link:hover,
.regular-customer-link:focus {
  border: 1px solid var(--blue);
}

.regular-customer-link:hover .regular-customer-icon,
.regular-customer-link:focus .regular-customer-icon {
  fill: var(--blue);
}

/* footer */

.footer {
  background: var(--bg);
  padding-bottom: 60px;
  padding-top: 60px;
}

.footer-div {
  display: flex;
}

.footer-div-address-logo {
  padding-right: 70px;
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--blue);
  margin-bottom: 20px;
  display: block;
}

.footer-logo-part {
  color: var(--white);
}

.footer-address {
  font-family: "Roboto", sans-serif;
  font-style: normal;
}

.footer-item-link:not(:lasr-child) {
  margin-bottom: 9px;
}

.footer-location {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--white);
  display: block;
  margin-bottom: 9px;
}

.footer-item-tell,
.footer-item-mail {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  display: block;
  margin-bottom: 9px;
}

.footer-div-social-icon {
  padding-top: 12px;
}

.footer-social-titel {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1, 42;
  color: var(--white);
  margin-bottom: 20px;
}

.footer-social-list {
  display: flex;
}
.footer-social-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
}

.footer-social-item:not(:last-child) {
  margin-right: 10px;
}

.footer-social-icon {
  fill: var(--white);
}

.footer-social-link:focus,
.footer-social-link:hover {
  background-color: var(--blue);
}

/* portfolio */

.portfolio-btn:hover,
.portfolio-btn:focus {
  background: var(--blue);
  color: var(--white);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-list-button {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.portfolio-btn-li:not(:last-child) {
  margin-right: 8px;
}

.portfolio-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  /* color: var(--heading); */
  background: #f5f4fa;
  border-radius: 4px;
  border: transparent;
}

.curent2 {
  background: var(--blue);
  color: var(--white);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.portfolio-item {
  width: calc(100% / 3 - 30px);
  margin: 15px;
}

.portfolio-item:hover,
.portfolio-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.div-portfolio-text {
  padding: 20px 24px;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}

.portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--heading);
}

.portfolio-pr {
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: var(--paragraph);
  margin-top: 4px;
}
